[run]
source = ./

omit =
    order/management/commands/runserver_socketio.py

    # Omit files from coverage that only run on prod
    seared_quail/gunicorn.py
    seared_quail/settings/__init__.py
    seared_quail/wsgi.py

[report]
exclude_lines =
    pragma: no cover

    # Ignore defensive assertion code / illegal states
    raise AssertionError
    raise IllegalStateException
    raise NotImplementedError

    # Ignore pass (often used in abstract methods)
    pass
