coverage==4.5.2
gevent==1.4.0
psycopg2==2.7.7
psycogreen==1.0.1
gunicorn==19.9.0
Django==2.1.5
django-pigeon==0.3.0
django-ordered-model==3.1.1
Pillow==5.4.1
django-classbasedsettings==1.5.0
-e git://github.com/abourget/gevent-socketio.git@1cdb1594a315326987a17ce0924ea448a82fab01#egg=gevent_socketio-master
