coverage==4.2
gevent==1.1.2
psycopg2==2.6.2
psycogreen==1.0
gunicorn==19.6.0
Django==1.9.9
django-ordered-model==1.2.1
Pillow==3.3.1
django-classbasedsettings==1.5.0
-e git://github.com/abourget/gevent-socketio.git@8971328ab467adc49bec98bc9eb7d13c89d9dac6#egg=gevent_socketio-master
