coverage==4.2
gevent==1.0.2
psycopg2==2.6.1
psycogreen==1.0
gunicorn==0.16.1
Django==1.8.2
django-ordered-model==0.4.2
Pillow==2.8.1
django-classbasedsettings==1.5.0
-e git://github.com/abourget/gevent-socketio.git@668d11edbd62052cde1583be1e1d0512c930f16d#egg=gevent_socketio-master
