<li>
    <h4 class="name" id="{{ menuitem.id }}">{{ menuitem.name }}</h4>
    {% if menuitem.img %}
        <a class="th [radius]" style="margin-bottom: 5px;" href="{{ menuitem.img.url }}"><img style="display: block; max-width: 150px; max-height: 100px; width: auto; height: auto;" src="{{ menuitem.img.url }}" /></a>
    {% endif %}
    <div class="button-bar">
        <ul class="button-group round">
            <li><button type="button" class="button tiny minus" id="{{ menuitem.id }}">-</button></li>
            <h5 align="center" style="min-width: 50px;" class="quantity" id="{{ menuitem.id }}">0</h5>
            <input type="hidden" class="hidden-quantity" id="{{ menuitem.id }}" name="quantity-{{ menuitem.id }}" value="0">
            <li><button type="button" class="button tiny plus" id="{{ menuitem.id }}">+</button></li>
        </ul>
    </div>
    <input type="text" name="note-{{ menuitem.id }}" placeholder="note (optional)" />
    {{ menuitem.description }}
</li>
