{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/foundation.css" %}" type="text/css" charset="utf-8" />
        <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.cookie.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/modernizr.js" %}"></script>
        <script type="text/javascript" src="{% static "js/foundation.min.js" %}"></script>
        {% block jsincludes %}{% endblock %}
        <script type="text/javascript">{% block jsvariables %}{% endblock %}</script>
        <script type="text/javascript" src="{% block javascript %}{% endblock %}"></script>
    </head>
    <body>
        <div class="container" style="padding: 10px;">
            {% block content %}
            {% endblock %}
        </div>
        <script type="text/javascript">$(document).foundation();</script>
    </body>
</html>
