{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Seared Quail{% endblock %}

{% block css %}{% static "css/seared-quail.css" %}{% endblock %}
{% block jsincludes %}
<script type="text/javascript" src="{% static "js/socket.io.min.js" %}"></script>
{% endblock %}
{% block javascript %}{% static "js/kitchen.js" %}{% endblock %}

{% block content %}
<h2 class="caught-up" style="text-align: center; margin-top: 40px;{% if orders %} display:none;{% endif %}">
    You're caught up with all of the incoming orders!
    <br /><br />Yipee!
</h2>
<div class="orders">
{% for order in orders %}
    <div class="panel" id="{{ order.id }}">
        <h4>Table: {{ order.table }}</h4>
        <ul>
        {% for item in order.items %}
            <li>{{ item.quantity }} {{ item.name }}</li>
            {% if item.note %}
                <ul class="item-note">
                    <small><li>{{ item.note }}</li></small>
                </ul>
            {% endif %}
        {% endfor %}
        </ul>
        <a href="#" class="button small success" id="{{ order.id }}">Done</a>
    </div>
{% endfor %}
</div>
{% endblock %}
