{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Seared Quail{% endblock %}

{% block javascript %}{% static "js/menu.js" %}{% endblock %}

{% block content %}
<!-- Header -->
<h1 class="text-center">Menu</h1>

{% if success %}
    <div data-alert class="alert-box success">
        Your order has been placed.
        <a href="#" class="close">&times;</a>
    </div>
{% endif %}
{% if form.errors %}
    <div data-alert class="alert-box alert">
        An error occurred: {{ form.errors }}
        <a href="#" class="close">&times;</a>
    </div>
{% endif %}

<form method="post" class="orderform">
    {% csrf_token %}
    <!-- Menu -->
    {% for category in menu %}
        {% include "includes/category.html" with headingsize=2 %}
    {% endfor %}

    <!-- Select Table -->
    <div class="row">
        <div class="small-1 large-1 columns"><h5>Table:</h5></div>
        <div class="small-11 large-3 columns end">
            <select class="table" name="table">
                <option value="0" selected>--</option>
                {% for table in tables %}
                <option value="{{ table.id }}">{{ table.number }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Place Order Button -->
    <br>
    <p>
        <button type="button" class="button expand placeorder" disabled>Place Order</button>
    </p>
</form>
{% endblock %}
